{% extends 'blogapp/base.html' %}
{% load static %}

{% block title %}Rick's Blog - About{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'img/about-bg3.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>I'm Rick</h1>
                        <hr class="small">
                        <span class="subheading">And I Enjoy Figuring Stuff Out</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <DIV CLASS="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h2 class="section-heading">Welcome to My Website…</h2>

                <p>
                This blog is about the projects I’m working on in my spare time. I’ll try to
                document the steps that helped me get stuff working, and provide links to
                tutorials and tools that I found useful. The blog will primarily be
                focused on full-stack development, though I do have some machine learning and
                hardware design project ideas I want to pursue. Hopefully this site will be
                useful to others trying to get started on their own projects, and inspire me to
                continue hacking away in my free time.  
                </p>

                <h2 class="section-heading">A Little Bit About Myself…</h2>

                <p>
		I'm Rick, and I build chips. Potato chips.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
