{% extends 'blogapp/base.html' %}
{% load static %}

{% block title %}Rick's Blog - Contact{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'img/contact-bg2.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Greetings</h1>
                        <hr class="small">
                        <span class="subheading">How was Your Day?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
{% endblock %}
