
/**************************************************
* HEADER
**************************************************/
#wrap_header {
    position: fixed;
    z-index: 100;
    top:0;
    left:0;

    height:30px;
    min-width: 800px;
    width:100%;

    background: black;
    box-shadow: 0 0 20px 20px black;
    color: white;
    font-size: 32px;
}
#header_title {
    position: absolute;

    left: 10%;
    top: 12px;
}


#header_nav {
    position: absolute;
    right: 10%;

    font-size: 24px;

    display: flex;
    flex-direction: row;
}

.nav_button {
    font-size: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 6px 6px;
    margin-top: 12px;
    margin-bottom: 6px;
    height: 32px;

    background: black;
    color: white;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.nav_vline {
    height: 32px;
    width: 3px;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;

    background:#4c4c4c;
}

/**************************************************
* MAIN
**************************************************/
body {
    font-family: 'Montserrat', sans-serif;
}

#wrap_main {
    position: absolute;
    z-index: 0;
    top: 30px;

    min-height:400px;
    min-width:800px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: #eeeeee;
    overflow: hidden;
}

.subheader {
    position: relative;
    left: 10%;
    right: 50%;
    margin: auto;

    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 40px;
    font-weight: bold;
}

.subpage {
    position: relative;
    left: 10%;


    min-width: 600px;
    max-width: 1000px;

    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

/**************************************************
* SPLASH
**************************************************/
#wrap_splash {
    position: relative;
    z-index: 4;
    height: 1200px;
    width: 100%;
    min-width: 400px;

    background: black;
    box-shadow: 0 0 20px 20px black;
    color: white;

    display:inline-block;
    overflow: hidden;
}
#splash_pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}
#span_splash {
    position: relative;
    top: 15%;
    left: 10%;

    display:inline-block;
    font-size: 20px;
    line-height: 200%;
    white-space: nowrap;
}
#splash_quote {
    position: relative;
    left: 40%;
    margin-top: 30px;
    display:inline-block;
    font-size: 16px;
    font-style:italic;
    line-height: 200%;
    white-space: nowrap;
}

/**************************************************
* ABOUT
**************************************************/

#wrap_about {
    position: relative;
    z-index: 3;
    width: 100%;
    min-width: 400px;

    background: #eeeeee;
    padding-top: 100px;
    display:inline-block;
}

/**************************************************
* EXPERIENCE
**************************************************/
#wrap_experience {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 400px;

    padding-top: 100px;
}

/**************************************************
* Contact
**************************************************/
#wrap_contact {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 400px;

    padding-top: 100px;
}
